<div class="video-lightbox" id="video-lightbox" role="dialog" aria-modal="true" aria-label="Video player">
  <div class="video-lightbox-inner">
    <button type="button" class="video-lightbox-close" id="video-lightbox-close" aria-label="Close video">×</button>
    <iframe
      id="video-lightbox-iframe"
      class="video-lightbox-iframe"
      src=""
      allow="autoplay; fullscreen; encrypted-media; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</div>
